# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Editor / IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
